# Auto detect text files and perform LF normalization
* text=auto
Assets/StarterAssets/ThirdPersonController/Character/Models/*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/StarterAssets/ThirdPersonController/Character/Textures/*.png filter=lfs diff=lfs merge=lfs -text
Assets/Models/*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Models/Materials/*.png filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/AI/NavMesh.asset filter=lfs diff=lfs merge=lfs -text
Assets/CartoonLader/CartoonLadder.fbx filter=lfs diff=lfs merge=lfs -text
Assets/kawetofe_Assets/medievalTentSmall/textures/*.png filter=lfs diff=lfs merge=lfs -text
Assets/Polytope[[:space:]]Studio/Lowpoly[[:space:]]Medieval[[:space:]]Demos/Environment_Free/Terrain/New_Terrain.asset filter=lfs diff=lfs merge=lfs -text
Assets/Polytope[[:space:]]Studio/Lowpoly[[:space:]]Medieval[[:space:]]Environments/Sources/Textures/*.png filter=lfs diff=lfs merge=lfs -text

